{{#ifCond type 'input-text'}}
  {{#ifCond question 'Detail'}}
  <br>
    <div class="center">
        <span>{{value}}</span>
    </div>
    {{/ifCond}}
  {{#ifCond question 'CUSTOMER COMPLAINT'}}
  <br>
  <table align="center">
    <tr><td>
      <span>{{question}}<br>
      {{value}}</span>
      </td>
    </tr>
  </table>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond type 'table'}}
<div>
  <table align="center">
    <tr style="text-align: center;">
      <td>
        <p><b>{{question}}</b></p>
        </td>
        </tr>
  </table>
  <br>
  <table align="center">
    <thead>
      <tr>
        {{#each children}}
          <th>{{question}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each value}}
        <tr>
            <td>{{timeinCont}}</td>
            <td>{{timeoutCont}}</td>
            <td>{{vechCont}}</td>
            <td>{{milCont}}</td>
            <td>{{TechCont}}</td>
            <td>
              {{#each TechName}}
                {{value}},
              {{/each}}
            </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/ifCond}}

{{#ifCond type 'section'}}
<br>
<div class="center">
  <span><b><u>{{question}}</u></b></span>
</div>
    
{{/ifCond}}

